Functions
os
plotly.graph_objects
dash_mantine_components
scipy.stats
app_design
sklearn.linear_model
time
sklearn.tree
re
dateutil.relativedelta
pandas
json
copy
plotly.subplots
sklearn.metrics
numpy
itertools
plotly.express
dash_bootstrap_components
dash
sklearn.preprocessing
numpy.typing
